@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
    --colorPrincipal: #000000;
    --colorDos: #ff5b5f;
    --colorTres: #fec051;
    --colorCuatro: #a7a7a7;
    background-color: #f6f6f6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

header {
    background-color: #f6f6f6;
    height: 15vh;
    width: 99vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

header div img {
    height: 80%;
    padding: 5%;
}

.logo {
    height: 100px;
}

header h1 {
    font-weight: 700;
    text-align: center;
    padding-top: 2.5%;
}

main {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
}

main h2 {
    text-align: center;
    padding: 10px;
}

main section {
    padding: 25px;
}

.funcionamiento {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caracteristicas ul {
    padding-left: 35px;
}

.caracteristicas ul li {
    padding-top: 10px;
    font-weight: 600;
}

.grafico {
    border:5px solid var(--colorTres);
}

.analisis {
    display: flex;
    justify-content: center;
}

.analisis img {
    height: 80vh;
}

.diagnostico {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conclusion {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.diagnostico div p {
    font-weight: 300;
    font-size: x-large;
    text-align: center;
}

.desarrollo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trello {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.trello h3 {
    padding: 10px;
}

.sistema-propuesto {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sistema-propuesto h3 {
    padding: 15px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.boton {
    width: 15vw;
    border-bottom: 30px;
    padding: 10px 50px;
    background: var(--colorTres);
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.boton a {
    text-align: center;
    color: var(--colorPrincipal);
    text-decoration: none;
    font-weight: 600;
}

footer {
    height: 7.5vh;
    width: 100vw;
    background-color: var(--colorTres);
    font-weight: 600;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}